<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CarrinhoCompras</display-name>
  <welcome-file-list>
    <welcome-file>Template.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexController</display-name>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>projetofinal.lp3.controllers.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/IndexController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfilController</display-name>
    <servlet-name>PerfilController</servlet-name>
    <servlet-class>projetofinal.lp3.controllers.PerfilController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilController</servlet-name>
    <url-pattern>/PerfilController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>projetofinal.lp3.controllers.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/UsuarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriaController</display-name>
    <servlet-name>CategoriaController</servlet-name>
    <servlet-class>projetofinal.lp3.controllers.CategoriaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaController</servlet-name>
    <url-pattern>/CategoriaController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ProdutoController</display-name>
    <servlet-name>ProdutoController</servlet-name>
    <servlet-class>projetofinal.lp3.controllers.ProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoController</servlet-name>
    <url-pattern>/ProdutoController</url-pattern>
  </servlet-mapping>
</web-app>